<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sml.quote.QuoteMapper">

    <!-- ****************************** Race 코인 Start ****************************** -->
    <!-- (Race) 코인 list -->
    <select id="selectCoinRaceList" parameterType="QuoteVO" resultType="LinkedHashMap">
        SELECT
            ROWNUM AS RNUM
            , A.MARKET
            , A.KOR_NM
            , TO_CHAR(B.OPENING_PRICE, '999,999,999,999,9990.00') AS OPENING_PRICE
            , TO_CHAR(B.LOW_PRICE, '999,999,999,999,9990.00') AS LOW_PRICE
            , TO_CHAR(B.HIGH_PRICE, '999,999,999,999,9990.00') AS HIGH_PRICE
            , B.RISE_PRICE
            , B.CHANGE
            , B.TRADE_DATE
        FROM T_COIN_QUOTE_KRW A
            , (
                SELECT
                    MARKET
                    , OPENING_PRICE
                    , LOW_PRICE
                    , HIGH_PRICE
                    , ROUND((((HIGH_PRICE - OPENING_PRICE) / OPENING_PRICE) * 100), 2) AS RISE_PRICE    /* 시가 - 고가 상승률 */
                    , DECODE(CHANGE, 'RISE', '상승', 'FALL', '하락') AS CHANGE
                    , B.TRADE_DATE
                FROM T_COIN_RACE_KRW B
                WHERE 1=1
                <if test="searchTRADE_DATE != null">
                    <!-- AND TO_CHAR(TO_DATE(UPD_DT, 'YYYY-MM-DD HH24:MI:SS'), 'YYYYMMDD') = #{searchUPD_DT} -->
                    AND TRADE_DATE = #searchTRADE_DATE#
                </if>
                <if test="searchTRADE_DATE == null">
                    AND TRADE_DATE = (SELECT MAX(TRADE_DATE) FROM T_COIN_RACE_KRW)
                </if>
                <if test="searchKOR_NM != null">
                    AND MARKET LIKE '%' || FN_GET_MARKET(#{searchKOR_NM}) || '%'    /* 한글명을 MARKET으로 변환하여 대입 */
                </if>
                ORDER BY RISE_PRICE DESC
            ) B
        WHERE A.MARKET = B.MARKET
        ORDER BY RNUM ASC
    </select>

    <!-- (Race) 코인 갱신일자 -->
    <select id="selectCoinRaceUpdDt" resultType="String">
        SELECT
            MAX(UPD_DT) AS UPD_DT
        FROM T_COIN_RACE_KRW
        WHERE MARKET = 'KRW-BTC'
    </select>

    <!-- (Race) 10:00AM  코인 리스트 -->
    <insert id="insertCoinRace" parameterType="LinkedHashMap">
        INSERT INTO T_COIN_RACE_KRW
        (
            MARKET
            , TRADE_DATE
            , TRADE_TIME
            , TRADE_DATE_KST
            , TRADE_TIME_KST
            , TRADE_TIMESTAMP
            , OPENING_PRICE
            , HIGH_PRICE
            , LOW_PRICE
            , TRADE_PRICE
            , PREV_CLOSING_PRICE
            , CHANGE
            , CHANGE_PRICE
            , CHANGE_RATE
            , SIGNED_CHANGE_PRICE
            , SIGNED_CHANGE_RATE
            , TRADE_VOLUME
            , ACC_TRADE_PRICE
            , ACC_TRADE_PRICE_24H
            , ACC_TRADE_VOLUME
            , ACC_TRADE_VOLUME_24H
            , HIGHEST_52_WEEK_PRICE
            , HIGHEST_52_WEEK_DATE
            , LOWEST_52_WEEK_PRICE
            , LOWEST_52_WEEK_DATE
            , UPD_DT
        )
        <foreach item="item" collection="list" separator="union">
            SELECT
                #{item.MARKET}
                , #{item.TRADE_DATE}
                , #{item.TRADE_TIME}
                , #{item.TRADE_DATE_KST}
                , #{item.TRADE_TIME_KST}
                , #{item.TRADE_TIMESTAMP}
                , #{item.OPENING_PRICE}
                , #{item.HIGH_PRICE}
                , #{item.LOW_PRICE}
                , #{item.TRADE_PRICE}
                , #{item.PREV_CLOSING_PRICE}
                , #{item.CHANGE}
                , #{item.CHANGE_PRICE}
                , #{item.CHANGE_RATE}
                , #{item.SIGNED_CHANGE_PRICE}
                , #{item.SIGNED_CHANGE_RATE}
                , #{item.TRADE_VOLUME}
                , #{item.ACC_TRADE_PRICE}
                , #{item.ACC_TRADE_PRICE_24H}
                , #{item.ACC_TRADE_VOLUME}
                , #{item.ACC_TRADE_VOLUME_24H}
                , #{item.HIGHEST_52_WEEK_PRICE}
                , TO_CHAR(TO_DATE(#{item.HIGHEST_52_WEEK_DATE}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
                , #{item.LOWEST_52_WEEK_PRICE}
                , TO_CHAR(TO_DATE(#{item.LOWEST_52_WEEK_DATE}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
                , TO_CHAR(TO_DATE(#{item.UPD_DT}, 'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')
            FROM DUAL
        </foreach>
    </insert>
    <!-- ****************************** Race 코인 End ****************************** -->



    <!-- ****************************** Day 코인 Start ****************************** -->
    <!-- (Day) 코인 list -->
    <select id="selectCoinDayList" resultType="LinkedHashMap">
        SELECT
            ROWNUM AS RNUM
            , A.MARKET
            , A.KOR_NM
            , TO_CHAR(B.OPENING_PRICE, '999,999,999,999,9990.00') AS OPENING_PRICE
            , TO_CHAR(B.LOW_PRICE, '999,999,999,999,9990.00') AS LOW_PRICE
            , TO_CHAR(B.HIGH_PRICE, '999,999,999,999,9990.00') AS HIGH_PRICE
            , B.RISE_PRICE
            , B.CHANGE
            , B.TRADE_DATE
        FROM T_COIN_QUOTE_KRW A
        , (
            SELECT
                MARKET
                , OPENING_PRICE
                , LOW_PRICE
                , HIGH_PRICE
                , ROUND((((HIGH_PRICE - OPENING_PRICE) / OPENING_PRICE) * 100), 2) AS RISE_PRICE    /* 시가 - 고가 상승률 */
                , DECODE(CHANGE, 'RISE', '상승', 'FALL', '하락') AS CHANGE
                , TRADE_DATE
            FROM T_COIN_DAY_KRW B
            WHERE 1=1
            <if test="searchTRADE_DATE != null">
                <!-- AND TO_CHAR(TO_DATE(UPD_DT, 'YYYY-MM-DD HH24:MI:SS'), 'YYYYMMDD') = #{searchUPD_DT} -->
                AND TRADE_DATE = #searchTRADE_DATE#
            </if>
            <if test="searchTRADE_DATE == null">
                AND TRADE_DATE = (SELECT MAX(TRADE_DATE) FROM T_COIN_DAY_KRW)
            </if>
            <if test="searchKOR_NM != null">
                AND MARKET LIKE '%' || FN_GET_MARKET(#{searchKOR_NM}) || '%'    /* 한글명을 MARKET으로 변환하여 대입 */
            </if>
            ORDER BY RISE_PRICE DESC
         ) B
        WHERE A.MARKET = B.MARKET
        ORDER BY RNUM ASC
    </select>

    <!-- (Day) 코인 갱신일자 -->
    <select id="selectCoinDayUpdDt" resultType="String">
        SELECT
            MAX(UPD_DT) AS UPD_DT
        FROM T_COIN_DAY_KRW
        WHERE MARKET = 'KRW-BTC'
    </select>

    <!-- (Day) 08:55AM  코인 리스트 -->
    <insert id="insertCoinDay" parameterType="LinkedHashMap">
        INSERT INTO T_COIN_DAY_KRW
        (
            MARKET
            , TRADE_DATE
            , TRADE_TIME
            , TRADE_DATE_KST
            , TRADE_TIME_KST
            , TRADE_TIMESTAMP
            , OPENING_PRICE
            , HIGH_PRICE
            , LOW_PRICE
            , TRADE_PRICE
            , PREV_CLOSING_PRICE
            , CHANGE
            , CHANGE_PRICE
            , CHANGE_RATE
            , SIGNED_CHANGE_PRICE
            , SIGNED_CHANGE_RATE
            , TRADE_VOLUME
            , ACC_TRADE_PRICE
            , ACC_TRADE_PRICE_24H
            , ACC_TRADE_VOLUME
            , ACC_TRADE_VOLUME_24H
            , HIGHEST_52_WEEK_PRICE
            , HIGHEST_52_WEEK_DATE
            , LOWEST_52_WEEK_PRICE
            , LOWEST_52_WEEK_DATE
            , UPD_DT
        )
        <foreach item="item" collection="list" separator="union">
            SELECT
                #{item.MARKET}
                , #{item.TRADE_DATE}
                , #{item.TRADE_TIME}
                , #{item.TRADE_DATE_KST}
                , #{item.TRADE_TIME_KST}
                , #{item.TRADE_TIMESTAMP}
                , #{item.OPENING_PRICE}
                , #{item.HIGH_PRICE}
                , #{item.LOW_PRICE}
                , #{item.TRADE_PRICE}
                , #{item.PREV_CLOSING_PRICE}
                , #{item.CHANGE}
                , #{item.CHANGE_PRICE}
                , #{item.CHANGE_RATE}
                , #{item.SIGNED_CHANGE_PRICE}
                , #{item.SIGNED_CHANGE_RATE}
                , #{item.TRADE_VOLUME}
                , #{item.ACC_TRADE_PRICE}
                , #{item.ACC_TRADE_PRICE_24H}
                , #{item.ACC_TRADE_VOLUME}
                , #{item.ACC_TRADE_VOLUME_24H}
                , #{item.HIGHEST_52_WEEK_PRICE}
                , TO_CHAR(TO_DATE(#{item.HIGHEST_52_WEEK_DATE}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
                , #{item.LOWEST_52_WEEK_PRICE}
                , TO_CHAR(TO_DATE(#{item.LOWEST_52_WEEK_DATE}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
                , TO_CHAR(TO_DATE(#{item.UPD_DT}, 'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')
            FROM DUAL
        </foreach>
    </insert>

    <!-- ****************************** Day 코인 End ****************************** -->

</mapper>