<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">
    <!-- 참고 : https://engkimbs.tistory.com/861 -->
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%style{%d{yyyy-MM-dd HH:mm:ss.SSS}}{white} %highlight{%-5level }[%style{%t}{bright,blue}] %style{%C{1.}}{bright,yellow} %C: %msg%n%throwable"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- 스프링, 전자정부 프레임워크에서 찍는건 level을 ERROR 로 설정해서 에러 아님 안보이도록 제어 -->
        <logger name="org.springframework" level="ERROR" additivity="false" />
        <logger name="org.apache.commons" level="ERROR" additivity="false" />
        <logger name="ducf.core.mvc" level="ERROR" additivity="false" />
        <logger name="egovframework.rte.psl.orm.ibatis" level="ERROR" additivity="false" />

        <!-- log4jdbc log setting start (참고 : https://log4jdbc.brunorozendo.com/) -->
        <logger name="java.sql.Connection" level="OFF" />
        <logger name="jdbc.sqlonly" level="OFF"/>
        <logger name="jdbc.sqltiming" level="debug"/>
        <logger name="jdbc.audit" level="OFF"/>
        <logger name="jdbc.resultset" level="OFF"/>
        <logger name="jdbc.resultsettable" level="OFF"/>
        <logger name="jdbc.connection" level="OFF"/>
        <!-- log4jdbc log setting end -->

        <!-- ibatis log setting start -->
        <!--<logger name="java.sql.Connection" level="DEBUG" />
        <logger name="java.sql.PreparedStatement" level="DEBUG" />
        <logger name="java.sql.Statement" level="OFF" />
        <logger name="java.sql.ResultSet" level="OFF" />-->
        <!-- ibatis log setting end -->

        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>