<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sml.api.UpbitAPIMapper">

    <!-- ***************** KRW 관련 Start ***************** -->

    <!-- 코인리스트 inert (INSERT IGNORE를 하여 중복 insert방지) -->
    <insert id="insertCoinListKRW" parameterType="LinkedHashMap">
        INSERT INTO T_COIN_QUOTE_KRW
        (MARKET, KOR_NM, ENG_NM)
        <foreach item="item" collection="list" separator="union">
        SELECT #{item.MARKET}, #{item.KOR_NM}, #{item.ENG_NM} FROM DUAL
        WHERE NOT EXISTS
        (
            SELECT
                #{item.MARKET}
                , #{item.KOR_NM}
                , #{item.ENG_NM}
            FROM T_COIN_QUOTE_KRW
            WHERE MARKET = #{item.MARKET}
        )
        </foreach>
    </insert>

    <!-- 코인가격 update ( 스케줄러로 인해 특정시간대만 update ) -->
    <update id="updateCoinQuoteKRW" parameterType="LinkedHashMap">
        <foreach collection="list" item="item" index="index" separator=";" open="DECLARE BEGIN" close="; END;">
        UPDATE T_COIN_QUOTE_KRW
                SET MARKET = #{item.MARKET}
                , TRADE_DATE = #{item.TRADE_DATE}
                , TRADE_TIME = #{item.TRADE_TIME}
                , TRADE_DATE_KST = #{item.TRADE_DATE_KST}
                , TRADE_TIME_KST = #{item.TRADE_TIME_KST}
                , TRADE_TIMESTAMP = #{item.TRADE_TIMESTAMP}
                , OPENING_PRICE = #{item.OPENING_PRICE}
                , HIGH_PRICE = #{item.HIGH_PRICE}
                , LOW_PRICE = #{item.LOW_PRICE}
                , TRADE_PRICE = #{item.TRADE_PRICE}
                , PREV_CLOSING_PRICE = #{item.PREV_CLOSING_PRICE}
                , CHANGE = #{item.CHANGE}
                , CHANGE_PRICE = #{item.CHANGE_PRICE}
                , CHANGE_RATE = #{item.CHANGE_RATE}
                , SIGNED_CHANGE_PRICE = #{item.SIGNED_CHANGE_PRICE}
                , SIGNED_CHANGE_RATE = #{item.SIGNED_CHANGE_RATE}
                , TRADE_VOLUME = #{item.TRADE_VOLUME}
                , ACC_TRADE_PRICE = #{item.ACC_TRADE_PRICE}
                , ACC_TRADE_PRICE_24H = #{item.ACC_TRADE_PRICE_24H}
                , ACC_TRADE_VOLUME = #{item.ACC_TRADE_VOLUME}
                , ACC_TRADE_VOLUME_24H = #{item.ACC_TRADE_VOLUME_24H}
                , HIGHEST_52_WEEK_PRICE = #{item.HIGHEST_52_WEEK_PRICE}
                , HIGHEST_52_WEEK_DATE = TO_CHAR(TO_DATE(#{item.HIGHEST_52_WEEK_DATE}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
                , LOWEST_52_WEEK_PRICE = #{item.LOWEST_52_WEEK_PRICE}
                , LOWEST_52_WEEK_DATE = TO_CHAR(TO_DATE(#{item.LOWEST_52_WEEK_DATE}, 'YYYY-MM-DD'), 'YYYY-MM-DD')
                , UPD_DT = FN_SYSDATE
                WHERE MARKET = #{item.MARKET}
        </foreach>
    </update>

    <!-- KRW 코인가격 history -->
    <insert id="insertCoinQuoteKRW_HIS" parameterType="LinkedHashMap">
        INSERT T_COIN_QUOTE_KRW_HIS
        (
            MARKET
            , TRADE_DATE
            , TRADE_TIME
            , TRADE_DATE_KST
            , TRADE_TIME_KST
            , TRADE_TIMESTAMP
            , OPENING_PRICE
            , HIGH_PRICE
            , LOW_PRICE
            , TRADE_PRICE
            , PREV_CLOSING_PRICE
            , CHANGE
            , CHANGE_PRICE
            , CHANGE_RATE
            , SIGNED_CHANGE_PRICE
            , SIGNED_CHANGE_RATE
            , TRADE_VOLUME
            , ACC_TRADE_PRICE
            , ACC_TRADE_PRICE_24H
            , ACC_TRADE_VOLUME
            , ACC_TRADE_VOLUME_24H
            , HIGHEST_52_WEEK_PRICE
            , HIGHEST_52_WEEK_DATE
            , LOWEST_52_WEEK_PRICE
            , LOWEST_52_WEEK_DATE
            , UPD_DT
        )
        VALUES
        (
            #{MARKET}
            , #{TRADE_DATE}
            , #{TRADE_TIME}
            , #{TRADE_DATE_KST}
            , #{TRADE_TIME_KST}
            , #{TRADE_TIMESTAMP}
            , #{OPENING_PRICE}
            , #{HIGH_PRICE}
            , #{LOW_PRICE}
            , #{TRADE_PRICE}
            , #{PREV_CLOSING_PRICE}
            , #{CHANGE}
            , #{CHANGE_PRICE}
            , #{CHANGE_RATE}
            , #{SIGNED_CHANGE_PRICE}
            , #{SIGNED_CHANGE_RATE}
            , #{TRADE_VOLUME}
            , #{ACC_TRADE_PRICE}
            , #{ACC_TRADE_PRICE_24H}
            , #{ACC_TRADE_VOLUME}
            , #{ACC_TRADE_VOLUME_24H}
            , #{HIGHEST_52_WEEK_PRICE}
            , #{HIGHEST_52_WEEK_DATE}
            , #{LOWEST_52_WEEK_PRICE}
            , #{LOWEST_52_WEEK_DATE}
            , FN_SYSDATE
        )
    </insert>
    <!-- ***************** KRW 관련 End ***************** -->



    <!-- ***************** BTC 관련 Start ***************** -->
    <!-- 코인리스트 inert (INSERT IGNORE를 하여 중복 insert방지) -->
    <insert id="insertCoinListBTC" parameterType="LinkedHashMap">
        INSERT IGNORE INTO T_COIN_QUOTE_BTC
        (MARKET, KOR_NM, ENG_NM)
        VALUES
        (#{MARKET}, #{KOR_NM}, #{ENG_NM})
    </insert>

    <!-- 코인가격 update ( 스케줄러로 인해 특정시간대만 update ) -->
    <update id="updateCoinQuoteBTC" parameterType="LinkedHashMap">
        UPDATE T_COIN_QUOTE_BTC
        <foreach collection="list" item="item" index="index" separator=";" open="DECLARE BEGIN" close="; END;">
            SET MARKET = #{MARKET}
                , TRADE_DATE = #{TRADE_DATE}
                , TRADE_TIME = #{TRADE_TIME}
                , TRADE_DATE_KST = #{TRADE_DATE_KST}
                , TRADE_TIME_KST = #{TRADE_TIME_KST}
                , TRADE_TIMESTAMP = #{TRADE_TIMESTAMP}
                , OPENING_PRICE = #{OPENING_PRICE}
                , HIGH_PRICE = #{HIGH_PRICE}
                , LOW_PRICE = #{LOW_PRICE}
                , TRADE_PRICE = #{TRADE_PRICE}
                , PREV_CLOSING_PRICE = #{PREV_CLOSING_PRICE}
                , CHANGE = #{CHANGE}
                , CHANGE_PRICE = #{CHANGE_PRICE}
                , CHANGE_RATE = #{CHANGE_RATE}
                , SIGNED_CHANGE_PRICE = #{SIGNED_CHANGE_PRICE}
                , SIGNED_CHANGE_RATE = #{SIGNED_CHANGE_RATE}
                , TRADE_VOLUME = #{TRADE_VOLUME}
                , ACC_TRADE_PRICE = #{ACC_TRADE_PRICE}
                , ACC_TRADE_PRICE_24H = #{ACC_TRADE_PRICE_24H}
                , ACC_TRADE_VOLUME = #{ACC_TRADE_VOLUME}
                , ACC_TRADE_VOLUME_24H = #{ACC_TRADE_VOLUME_24H}
                , HIGHEST_52_WEEK_PRICE = #{HIGHEST_52_WEEK_PRICE}
                , HIGHEST_52_WEEK_DATE = #{HIGHEST_52_WEEK_DATE}
                , LOWEST_52_WEEK_PRICE = #{LOWEST_52_WEEK_PRICE}
                , UPD_DT = FN_SYSDATE
        WHERE MARKET = #{MARKET}
        </foreach>
    </update>

    <!-- BTC 코인가격 history -->
    <insert id="insertCoinQuoteBTC_HIS" parameterType="LinkedHashMap">
        INSERT T_COIN_QUOTE_BTC_HIS
        (
            MARKET
            , TRADE_DATE
            , TRADE_TIME
            , TRADE_DATE_KST
            , TRADE_TIME_KST
            , TRADE_TIMESTAMP
            , OPENING_PRICE
            , HIGH_PRICE
            , LOW_PRICE
            , TRADE_PRICE
            , PREV_CLOSING_PRICE
            , CHANGE
            , CHANGE_PRICE
            , CHANGE_RATE
            , SIGNED_CHANGE_PRICE
            , SIGNED_CHANGE_RATE
            , TRADE_VOLUME
            , ACC_TRADE_PRICE
            , ACC_TRADE_PRICE_24H
            , ACC_TRADE_VOLUME
            , ACC_TRADE_VOLUME_24H
            , HIGHEST_52_WEEK_PRICE
            , HIGHEST_52_WEEK_DATE
            , LOWEST_52_WEEK_PRICE
            , UPD_DT
        )
        VALUES
        (
            #{MARKET}
            , #{TRADE_DATE}
            , #{TRADE_TIME}
            , #{TRADE_DATE_KST}
            , #{TRADE_TIME_KST}
            , #{TRADE_TIMESTAMP}
            , #{OPENING_PRICE}
            , #{HIGH_PRICE}
            , #{LOW_PRICE}
            , #{TRADE_PRICE}
            , #{PREV_CLOSING_PRICE}
            , #{CHANGE}
            , #{CHANGE_PRICE}
            , #{CHANGE_RATE}
            , #{SIGNED_CHANGE_PRICE}
            , #{SIGNED_CHANGE_RATE}
            , #{TRADE_VOLUME}
            , #{ACC_TRADE_PRICE}
            , #{ACC_TRADE_PRICE_24H}
            , #{ACC_TRADE_VOLUME}
            , #{ACC_TRADE_VOLUME_24H}
            , #{HIGHEST_52_WEEK_PRICE}
            , #{HIGHEST_52_WEEK_DATE}
            , #{LOWEST_52_WEEK_PRICE}
            , FN_SYSDATE
        )
    </insert>
    <!-- ***************** BTC 관련 End ***************** -->

</mapper>