<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sml.pump.PumpMapper">

    <!-- *************************** RACE 관련 Start *************************** -->
    <!-- PUMP (RACE) 헤더 -->
    <select id="selectPumpRaceHeader" parameterType="LinkedHashMap" resultType="LinkedHashMap">
        SELECT
            COUNT(MARKET) AS PUMP_CNT
            , MAX(FN_GET_KOR_NM(MARKET)) AS KOR_NM
            , MAX(MARKET) AS MARKET
            , MAX(UPD_DT) AS UPD_DT
        FROM T_COIN_PUMP_RACE_KRW
        WHERE MARKET = #{MARKET}
    </select>

    <!-- PUMP (RACE) 데이터 조회 -->
    <select id="selectPumpRaceList" parameterType="LinkedHashMap" resultType="LinkedHashMap">
       SELECT
            ROWNUM AS RNUM
            , MARKET
            , FN_GET_KOR_NM(MARKET) AS KOR_NM
            , PUMP_SET_RISE_PRICE
            , RISE_PRICE
            , UPD_DT
        FROM T_COIN_PUMP_RACE_KRW
        WHERE MARKET = #{MARKET}
        ORDER BY RNUM DESC
    </select>

    <!-- PUMP (RACE) 기준 일정 상승률 이상 오른코인을 PUMP테이블에 저장 -->
    <insert id="insertPumpRace" parameterType="LinkedHashMap">
        INSERT INTO T_COIN_PUMP_RACE_KRW
        (
        MARKET
        , OPENING_PRICE
        , HIGH_PRICE
        , LOW_PRICE
        , RISE_PRICE
        , PUMP_SET_RISE_PRICE
        , UPD_DT
        )
        <foreach item="item" collection="list" separator="union">
            SELECT
            #{item.MARKET}
            , #{item.OPENING_PRICE}
            , #{item.HIGH_PRICE}
            , #{item.LOW_PRICE}
            , #{item.RISE_PRICE}
            , #{item.PUMP_SET_RISE_PRICE}
            , TO_CHAR(TO_DATE(#{item.UPD_DT}, 'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')
            FROM DUAL
        </foreach>
    </insert>
    <!-- *************************** RACE 관련 End *************************** -->



    <!-- *************************** DAY 관련 Start *************************** -->
    <!-- PUMP (DAY) 헤더 -->
    <select id="selectPumpDayHeader" parameterType="LinkedHashMap" resultType="LinkedHashMap">
        SELECT
            COUNT(MARKET) AS PUMP_CNT
            , MAX(FN_GET_KOR_NM(MARKET)) AS KOR_NM
            , MAX(MARKET) AS MARKET
            , MAX(UPD_DT) AS UPD_DT
        FROM T_COIN_PUMP_DAY_KRW
        WHERE MARKET = #{MARKET}
    </select>

    <!-- PUMP 데이터 조회 -->
    <select id="selectPumpDayList" parameterType="LinkedHashMap" resultType="LinkedHashMap">
        SELECT
            ROWNUM AS RNUM
            , MARKET
            , FN_GET_KOR_NM(MARKET) AS KOR_NM
            , PUMP_SET_RISE_PRICE
            , RISE_PRICE
            , UPD_DT
        FROM T_COIN_PUMP_DAY_KRW
        WHERE MARKET = #{MARKET}
        ORDER BY RNUM DESC
    </select>

    <!-- (DAY)기준 일정 상승률 이상 오른코인을 PUMP테이블에 저장 -->
    <insert id="insertPumpDay" parameterType="LinkedHashMap">
        INSERT INTO T_COIN_PUMP_DAY_KRW
        (
            MARKET
            , OPENING_PRICE
            , HIGH_PRICE
            , LOW_PRICE
            , RISE_PRICE
            , PUMP_SET_RISE_PRICE
            , UPD_DT
        )
        <foreach item="item" collection="list" separator="union">
            SELECT
                #{item.MARKET}
                , #{item.OPENING_PRICE}
                , #{item.HIGH_PRICE}
                , #{item.LOW_PRICE}
                , #{item.RISE_PRICE}
                , #{item.PUMP_SET_RISE_PRICE}
                , TO_CHAR(TO_DATE(#{item.UPD_DT}, 'YYYY-MM-DD HH24:MI:SS'), 'YYYY-MM-DD HH24:MI:SS')
            FROM DUAL
        </foreach>
    </insert>
    <!-- *************************** DAY 관련 End *************************** -->










    <!-- 트랜잭션 Test -->
    <select id="selectTest" parameterType="LinkedHashMap" resultType="LinkedHashMap">
        SELECT MARKET, RISE_PRICE FROM T_COIN_PUMP_DAY_KRW
    </select>

    <insert id="saveTest" parameterType="LinkedHashMap">
        INSERT INTO T_COIN_PUMP_DAY_KRW
        (MARKET, RISE_PRICE)
        VALUES
        (#{MARKET}, #{RISE_PRICE})
    </insert>
    <!-- 트랜잭션 Test -->
</mapper>

