body {
    background-color: black;
    margin: 0; 
    overflow:hidden
}

#canvas {
    width: 35%;
}

#a {
    position: absolute;
    top: 410px;
    left: 840px;
    background-color: white;
    width: 200px;
    height: 100px;
}

